$rate = 0.68
$ratePercent = 68%

body
    background-color #000
    padding 0
    margin 0
    .finddiff-layer
        position relative
        margin auto
        //margin-top 10%
        width 960px * $rate
        height 320px * $rate
        .logo
            position absolute
            left 0px
            top 0px
            width 160px * $rate
            height 68px * $rate
            background url(/public/images/logo.png?__inline) no-repeat -5px -5px
            
        .voice
            display none
            position absolute
            right 0px
            top 0px
            width 48px * $rate
            height 48px * $rate
            background url(/public/images/voice.png?__inline) no-repeat 0 0
            background-size $ratePercent $ratePercent
        .content-wrap
            text-align center
    #finddiff-entry
        background url(/public/images/bg1.jpg?__inline) no-repeat
        background-size 960px * $rate 320px * $rate
        .layer
            display none
        .layer-show
            display block
        .title-wrap
            height 97px * $rate
            img
                display inline-block
                width 396px * $rate
                height 97px * $rate
        .rule-wrap
            position relative
            top -5px 
            height 171px * $rate
            img
                display inline-block
                width 911px * $rate
                height 171px * $rate
        .result-wrap
            position relative
            img
                display inline-block
                width 619px * $rate
                height 159px * $rate
            .bonus
                position absolute
                color #fff
                left 360px * $rate
                top 55px * $rate
                font-size 38px
        .rank-wrap
            position relative
            padding-top 20px
            img
                display inline-block
                width 433px * $rate
                height 226px * $rate
            .rank
                display inline-block
                width 80px * $rate
                top 155px * $rate
                left 480px * $rate
                position absolute
                color #fff
                font-size 39px * $rate
                text-align center
            .bonus
                display inline-block
                width 80px * $rate
                top 83px * $rate
                left 570px * $rate
                position absolute
                color #fff
                font-size 39px * $rate
                text-align center
        .timeout
            color #fff
            text-align center
            padding-top 100px
        .button-wrap
            position relative
            top -10px
            text-align center
            .btn
                margin 0 25px
                margin-top 5px
                display inline-block
                height 60px * $rate
            .notice-btn
                position relative
                top 1px
        .end-button-wrap
            padding-top 10px
            .btn
                margin 3px 20px
        .notice-wrap
            img
                display inline-block
                width 960px * $rate
                height 320px * $rate
    #finddiff-helper
        background url(/public/images/helper-bg.jpg?__inline) no-repeat
        background-size 960px * $rate 320px * $rate
        .helpers
            margin auto
            width 680px * $rate
            height 315px * $rate
        .helper
            float left
            width 45%
            color #fff
            text-align left
            margin 5px 2.5%
            padding 10px 0
            border-bottom 1px dashed #2c6782
            img
                position relative
                top 5px
                display inline-block
                border-radius 9px
                height 18px
                width 18px
            span
                display inline-block
                height 18px
                line-height 18px
                font-size 12px
    #finddiff-game
        display none
        background url(/public/images/game-bg.jpg?__inline) no-repeat
        background-size 960px * $rate 320px * $rate
        .logo
            top 0px
            width 118px
            height 50px
            background url(/public/images/logo-min.jpg?__inline) no-repeat -5px -5px
            background-size $ratePercent $ratePercent
        .logo-name-wrap
            text-align center
            img
                display none
                width 200px * $rate
                height 50px * $rate
                &.active
                    display inline-block
        .logo-wrap
            height 220px * $rate
            img
                display none
                height 50px * $rate
                &.active
                    display inline-block
        .medium-logo-wrap
            img
                display none
                margin-top 15px
                margin-left 5px
                height 70px * $rate
        .max-logo-wrap
            img
                display none
                margin-top 40px
                margin-left 3px
                height 90px * $rate
        .remain-time
            text-align center
            color #fffc00
            line-height 50px * $rate
    #finddiff-mask
        position fixed
        left 0
        top 0
        opacity 0.9
        width 100%
        height 100%
        background-color #000
        z-index 100
        display none
        img
            display inline-block
            width 434px * $rate * 0.8
            height 175px * $rate * 0.8
            margin-top 10px
        p
            color #fff
            font-size 18px
