$offset = -3px
@keyframes shrink
    0%
        left $offset
    25%
        right $offset
    50%
        left $offset
    75%
        right $offset
    100%
        right $offset
@keyframes fadeout
    0%
        opacity 1
        padding-top 30px
    100%
        opacity 0
        padding-top 0px
html
    //background-color #c5f8fe
    background-color #000
    height 100%
body
    padding 0
    margin 0
    height 100%

.finddiff-layer
    display none
    position relative
    width 100%
    background url(/public/images/bg.jpg?__inline) no-repeat top center
    background-size 100%
.finddiff-mask
    position fixed
    left 0
    top 0
    width 100%
    height 100%
    background-color #000
    z-index 100
    display none
.layer
    display none
.layer-show
    display block

#finddiff-logo
    position fixed
    left 5px
    top 5px
    width 12%
    z-index 100
    img
        width 100%
        
#finddiff-entry
    height 100%
    .title-wrap
        padding-top 2%
        text-align center
        img
            width 50%
    .rule-wrap
        padding-top 2%
        text-align center
        img
            width 95%
    .button-wrap
        padding-top 1%
        text-align center
        a
            display inline-block
            margin 0 3%
            width 25%
        img
            width 100%
    
    .notice-wrap
        position relative
        top 20px
        width 80%
        margin 0 5%
        margin-bottom 20px
        background-color #fff
        text-align center
        border-radius 30px
        padding 5px 5%
        .label-wrap
            position absolute
            width 100%
            left 0
            top -15px
            text-align center
        .label
            width 20%
        ol
            margin 0 20px
            list-style decimal
        li
            color #313131
            text-align left
            font-size 12px
            line-height 24px
            border-bottom 1px dotted #d2d2d2
            strong
                color red
            &:last-child
                border none
                
    .rank-wrap
        position relative
        padding-top 5%
        text-align center
        img
            margin 0 16%
            width 68%
        .bonus
            position absolute
            color #ff6000
            left 68%
            top 32%
            font-size 32px
        .rank
            position absolute
            color #fff
            left 55%
            top 61%
            font-size 32px
            
    .timeout
        text-align center
#finddiff-game.finddiff-layer
    height 100%
    background none
    background-color #bdf7fd
    .sidebar
        background-color #ff6000
        text-align center
        color #fff
        height 36px
        line-height 36px
    .spitter
        height 3px
        background url(/public/images/line.png?__inline) repeat-x top center
    .logo-wrap
        margin-top 2%
        text-align center
        img
            position relative
            margin 20px 20px
            width 15%
            display none
            &.active
                display inline-block
            &.wrong
                animation shrink
                animation-duration 0.1s
                animation-timing-function ease
                animation-iteration-count 3
                -webkit-animation shrink
                -webkit-animation-duration 0.1s
                -webkit-animation-timing-function ease
                -webkit-animation-iteration-count 3
            &.monkey
                max-height 60px
    .minus-seconds
        position absolute
        left 0
        top 0
        color red
        opacity 0
        font-size 24px
        &.fadeout
            animation fadeout
            animation-duration 1s
            animation-timing-function ease
            animation-iteration-count 1
            -webkit-animation fadeout
            -webkit-animation-duration 1s
            -webkit-animation-timing-function ease
            -webkit-animation-iteration-count 1
    .remain-time
        position fixed
        width 100%
        left 0
        bottom 0
#finddiff-end
    height 100%
    .result-wrap
        position relative
        padding-top 5%
        text-align center
        img
            margin 0 5%
            width 90%
        span
            position absolute
            color #ff6000
            left 28%
            top 48%
            font-size 36px
    .button-wrap
        text-align center
        a
            display inline-block
            margin 0 1%
            width 33%
        img
            width 100%
#finddiff-helper.finddiff-layer
    min-height 100%
    img
        position relative
        top 3px
        display inline-block
        line-height 24px
        height 24px
        border-radius 12px
    .helpers
        background-color #fff
        margin 0 10%
        width 80%
        height 100%
        opacity 0.6
    .helper
        text-align center
        color #000
        line-height 36px
        border-bottom 1px dotted #000
        &:last-child
            border-bottom none
.finddiff-mask
    position fixed
    left 0
    top 0
    width 100%
    height 100%
    background-color #000
    z-index 100
    display none
    .mask-wrap
        position relative
        color #fff
        text-align center
        padding-top 5%
    img
        display inline-block
        width 80%
        margin auto
        margin-top 10px
#finddiff-set
    padding-top 30px
    text-align center
    color #fff
    a
        color #fff
        text-decoration underline
