
html
    //background-color #c5f8fe
    background-color #000
    min-height 100%
    background-size 100%
    background-color #f6f6f6
body
    padding 0
    margin 0
    min-height 100%
    background-color #f6f6f6
a
img
    border 0
    outline none

.redbag-wrap
    padding-top 20%
    text-align center
    img
        width 70%
    .btn
        width 44px
        vertical-align middle        
    p
        color #ff8a00
        font-size 24px
        margin-top 5%
    span
        display block
        margin-top 5%
        color #c0c0c0
        font-size 18px
    a
        color #cc3735
        text-decoration underline
.progress-wrap
    display none
    padding-top 10%
    text-align center
    img
        width 50%
    p
        margin-top 10%
        color #292929
        font-size 16px
.runout-wrap
    display none
    position fixed
    left 0
    top 0
    width 100%
    height 100%
    padding-top 15%
    text-align center
    background-color #000
    opacity 0.95
    z-index 100
    img
        width 30%
    p
        color #c0c0c0
        font-size 16px
        margin-top 5%
    a
        color #cc3735
        text-decoration underline
        font-size 20px
    .barcode-tit
        margin-top 10%
    .barcode
        margin-top 5%
        width 40%
.got-wrap
    display none
    position fixed
    left 0
    top 0
    width 100%
    height 100%
    padding-top 10%
    text-align center
    background-color #000
    opacity 0.95
    z-index 100
    img
        width 32%
    .tit
        clear both
        width 70%
        margin-top 5%
    .barcode
        margin-top 5%
        width 40%
    p
        color #c0c0c0
        font-size 16px
        margin-top 5%
    a
        color #cc3735
        font-size 20px