<div id="wx-activity">
	<div>
		<button class="btn" type="button" ng-click="activity.refresh()">刷新</button>
	    <a href="#/activity/new" class="btn btn-primary">新增</a>
	    <button class="btn" type="button"
	        ng-click="activity.remove()"
	        ng-disabled="activity.selected == null" ng-class="{'btn-danger': activity.selected != null}">删除</button>
    </div>
    <br/>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>名称</th>
          <th>领取编码</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in activity.record" ng-class="{'selected': item.id == activity.selected.id}" ng-click="activity.selected = item">
          <td>{{$index + 1}}</td>
          <td>{{item.name}}</td>
          <td width="50%">{{item.code}}</td>
          <td>
          <a class="btn btn-primary" href="#/activity/{{item.id}}">查看</a>
          <a ng-show="item.type == 1" class="btn btn-primary" href="#/activity/{{item.id}}/upload">上传优惠券</a></td>
        </tr>
      </tbody>
    </table>
</div>