extends layout

block content
    img(src="http://localhost:3001/images/header_01.jpg?mobile_build_version").full
    div.bd
        img(src="http://localhost:3001/images/footer_02.png?mobile_build_version").full.overlay
        div.buttons
            a.button(href="http://mp.weixin.qq.com/s?__biz=MjM5NDA3MTk2MA==&mid=202678459&idx=1&sn=9c9ba53544674b9ad27ffaef575dd76f#rd") 我要我的圣诞树
            a.button(href="http://mp.weixin.qq.com/s?__biz=MjM5NDA3MTk2MA==&mid=202566635&idx=1&sn=7a223d1e07e2f3e31ecec67e0e2152a9#rd") 活动规则
    audio(src="http://localhost:3001/song.mp3", preload="preload", autoplay, loop)