extends layout

block content
    img(src="http://localhost:3001/images/header_01.jpg?mobile_build_version").full
    div.bd
        img(src="http://localhost:3001/images/footer_02.png?mobile_build_version").full.overlay
        div.buttons
            a.button(href="http://mp.weixin.qq.com/s?__biz=MjM5NDA3MTk2MA==&mid=203181818&idx=1&sn=7af734020b31f3c1ef70a055c0a1237b#rd") 我也要一颗属于自己的圣诞树
            a.button.button-sub(href="http://localhost:3001/xmas/winner") 你抢到圣诞礼物了吗？
            a.button.button-sub(href="http://mp.weixin.qq.com/s?__biz=MjM5NDA3MTk2MA==&mid=203104383&idx=1&sn=39f1dc0c45b3c7d8c00b2959ef0069ad#rd") 活动规则
    audio(src="http://localhost:3001/song.mp3", preload="preload", autoplay, loop)