extends layout

block content
    a(href="javascript:window.history.go(-1)")
        img(src="http://localhost:3001/images/winner_hd.jpg?mobile_build_version").full
    div.winners
        div.hd
            img(src="http://localhost:3001/images/rank_01.png?mobile_build_version").full
        div.bd
            - if (winners.length == 0)
                div 还没人领礼物呢，赶快叫朋友点亮你的圣诞树吧！
            ul
                each winner, index in winners
                    li
                        - if (winner.headimgurl)
                            img(src='#{winner.headimgurl}')
                            span.nickname=winner.nickname.substring(0, 10) + '领了' + winner.prize
