extends layout

block content
    .howto
        h6 
            span 参与方式
        p
            关注优购官方微信账号（iyougou），输入“求祝福”即刻开始游戏。
        h6 
            span 活动规则
        ul
            li 邀请10个好友为自己送祝福；
            li 攒齐祝福后，进入优购官方微信账号（iyougou），再次输入“求祝福”即可领取优购派送的豪礼哦！
            li 活动最终解释权归优购时尚商城所有。
        h6 
            span 奖品设置
        p
            strong 200元礼品卡 50张
            strong 100元礼品卡 100张
            span 50元礼品卡 200张
            span 50元优惠券 500张
            span 优购时尚商城提供的精美实物奖品 150份
        h6 
            span 中奖话术分为以下两种：
        ul
            li 抽中礼品卡和优惠券的粉丝将直接获得礼品卡/优惠券代码（保存不当导致代码丢失优购不予重新发放）；
            li 活动结束后（1月25日后），抽中实物奖品的粉丝将中奖话术截图，将截图及个人信息（姓名+电话+收货地址）发送给本微信公众号，优购即可安排发放奖品。
        h6
            span 注意事项：
        ol
            li 关注优购官方微信（iyougou）即可参与游戏；
            li 参与活动者需授权优购商城读取微信头像和昵称信息，否则无法参加本次活动；
            li 每人仅可为好友送祝福一次，反之相同；
            li 礼品卡+优惠券+实物奖品共计1000份。本次奖品随机发送，不会按照奖品价值及成功收集祝福的先后顺序发放；
            li 一个中奖微信ID只能领取一次礼物。礼品卡不可兑换现金。