extends layout

block content
    .hd
        img(src="http://localhost:3001/images/greeting_01.jpg?mobile_build_version").bg
        .gift-c
            img(src="http://localhost:3001/images/gift.png?mobile_build_version")
    .bd
        a.button(href="#")
            img(src="http://localhost:3001/images/collect.png?mobile_build_version")
        a.button(href="#")
            img(src="http://localhost:3001/images/wish.png?mobile_build_version")
        a.button(href="http://localhost:3001/start")
            img(src="http://localhost:3001/images/need.png?mobile_build_version")
        a.button.sub-button(href="http://localhost:3001/howto")
            img(src="http://localhost:3001/images/howto.png?mobile_build_version")
    script(src='http://localhost:3001/javascripts/zepto.min.js?mobile_build_version')
    script(src='http://localhost:3001/javascripts/init.js?mobile_build_version')