doctype html
html
  head
    title 小伙伴们~我正在优购时尚商城收集祝福赢取购物卡和品牌豪礼，速度支持我！
    meta(charset='utf-8')
    meta(name='keywords', content='优购,优购微信')
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
    meta(name='format-detection', content='telephone=no,address=no,email=no')
    meta(name='mobileOptimized', content='width')
    meta(name='handheldFriendly', content='true')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    link(rel='stylesheet', href='http://localhost:3001/stylesheets/reset.css?mobile_build_version')
    link(rel='stylesheet', href='http://localhost:3001/stylesheets/style.css?mobile_build_version')
  body
    div
        block content
    block scripts