extends layout

block content
    .timeout
        div
            img(src="http://localhost:3001/images/timeout.png?mobile_build_version")
            div.clearfix
        div 亲~目前参与活动的人太多啦！
        div 请<a href="javascript:window.history.go(-1)">点击这里</a>尝试重新送出你哒祝福哦！