body
    font 14px "Lucida Grande", Helvetica, Arial, sans-serif
    background url("../images/bg_02.png") 0 0
    background-size 400px
    
@-webkit-keyframes twinkling
    0%
        opacity 1
    60%
        opacity 1
    100%
        opacity 0.7
@-webkit-keyframes right-fade
    0%
        opacity 0.8
    100%
        -webkit-transform translate3d(8px,0px,0)
        opacity 1
#xmas
    position relative
    margin auto
    min-width 320px
    max-width 640px
    .full
        width 100%
        margin 0px
        padding 0px
    .winners 
        margin 10px
        .hd
            img
                display block
                margin 0
        .bd
            position relative
            top -2px
            margin 0
            background #fff
            padding 10px 0
            li
                display block
                height 36px
                line-height 36px
                padding 10px 10px
                margin 0 10px
                border-bottom 1px solid #b2b2b2
                img
                    float left
                    display inline-block
                    width 36px
                    height 36px
                .icon
                    width 24px
                    height 24px
                span
                    float left
                    display inline-block
                    height 36px
                    line-height 36px
                    padding-left 10px
    .bd
        position relative
        min-height 300px
        .overlay
            position absolute
            left 0
            top -40px
            z-index 10
        .buttons
            position absolute
            left 0
            top -15px
            width 100%
            z-index 20
            p
                text-align center
                color #ffe900
                font-size 18px
                line-height 24px
            ul
                width 80%
                margin-left 10%
            li
                color #ffe900
                font-size 14px
                line-height 26px
                list-style decimal
            a
                color #ffe900
                text-decoration underline
            .button
                display block
                margin 20px 16px
                line-height 48px
                height 48px
                text-decoration none
                background #ffe600
                color #f04032
                text-align center
                border-radius 10px
                font-size 20px
                font-weight bold
            .button-sub
                background #079450
                color #fff
    .link
        display block
        z-index 300
    .finish
        position absolute
        left 10%
        top 140px
        width 80%
        z-index 200
        img
            width 100%;
    .profile-c
        position relative
        width 96%
        height 50px
        margin 10px 2%
        margin-bottom 0
        .mask
            position absolute
            background #000
            opacity 0.4
            z-index 1
            width 100%;
            height 50px
            border-radius 10px
        .profile
            position absolute
            z-index 100
            padding 10px
            img
                display inline-block
                height 30px
                width 30px
                border-radius 30px
                margin 0
            span
                position relative
                top -10px
                margin-left 10px
                display inline-block
                height 30px
                color #fff
                font-size 14px
    .actions
        a
            position absolute
            top 10%
            left 0
            display block
            float left
            line-height 50px
            border-radius 50px
            color #fff
            text-align center
            padding 10px
            opacity 0.8
            -webkit-animation right-fade 1s infinite ease
            img
                width 110px
    .votes
        margin 10px
        width 80%
        margin-left 10%
        img
            display inline-block
            height 30px
            width 30px
            border-radius 30px
            margin 0
        span
            position relative
            top -10px
            margin-left 10px
            display inline-block
            height 30px
            color #fff
            font-size 14px
    .prompt-overlay
        position fixed
        width 100%
        height 100%
        top 0px
        left 0px
        background #000
        opacity 0.8
        z-index 100
        display none
        img
            width 100%
    .progress
        position fixed
        width 100%
        height 100%
        top 0px
        left 0px
        padding-top 50px
        background #3a3a3a
        opacity 0.9
        color #fff
        text-align center
        z-index 200
        display none
        div
            position relative
            top -40px
    .gifts-c
        position relative
        top -10px
        .tree
            display block
            margin auto
            max-width 320px
            max-height 480px
        .star-c
            position absolute
            left 0
            top 10px
            width 100%
        .star
            display block
            width 36px
            height 36px
            margin auto
    .gifts
        position absolute
        width 100%
        left 0
        top 0
        min-height 480px
        .gift
            display block
            border 0
            border-width 0
            position absolute
        .gift-gray
            -webkit-filter grayscale(100%)
            -moz-filter grayscale(100%)
            -ms-filter grayscale(100%) 
            -o-filter grayscale(100%) 
            filter grayscale(100%)
            filter gray
            opacity 0.6
        .yellow-1
            width 24px
            height 24px
            left 46%
            top 15%
        .yellow-2
            width 18px
            height 18px
            left 42%
            top 32%
        .yellow-3
            width 28px
            height 28px
            left 32%
            top 40%
        .yellow-4
            width 36px
            height 36px
            left 55%
            top 48%
        .yellow-5
            width 18px
            height 18px
            left 50%
            top 59%
        .yellow-6
            width 36px
            height 36px
            left 30%
            top 67%
        .yellow-7
            width 18px
            height 18px
            left 65%
            top 73%
        .yellow-8
            width 36px
            height 36px
            left 50%
            top 75%
        .yellow-9
            width 18px
            height 18px
            left 83%
            top 77%
            
        .blue-1
            width 20px
            height 20px
            left 40%
            top 18%
        .blue-2
            width 30px
            height 30px
            left 56%
            top 32%
        .blue-3
            width 36px
            height 36px
            left 44%
            top 46%
        .blue-4
            width 18px
            height 18px
            left 38%
            top 56%
        .blue-5
            width 18px
            height 18px
            left 57%
            top 56%
        .blue-6
            width 36px
            height 36px
            left 56%
            top 63%
        .blue-7
            width 38px
            height 38px
            left 12%
            top 74%
        .blue-8
            width 30px
            height 30px
            left 70%
            top 76%
            
        .red-1
            width 24px
            height 24px
            left 53%
            top 20%
        .red-2
            width 30px
            height 30px
            left 43%
            top 25%
        .red-3
            width 18px
            height 18px
            left 46%
            top 40%
        .red-4
            width 24px
            height 24px
            left 36%
            top 50%
        .red-5
            width 28px
            height 28px
            left 56%
            top 43%
        .red-6
            width 36px
            height 36px
            left 26%
            top 58%
        .red-7
            width 18px
            height 18px
            left 66%
            top 59%
        .red-8
            width 36px
            height 36px
            left 46%
            top 66%
        .red-9
            width 18px
            height 18px
            left 40%
            top 76%
        .red-10
            width 24px
            height 24px
            left 60%
            top 80%
            
        .green-1
            width 20px
            height 20px
            left 38%
            top 23%
        .green-2
            width 28px
            height 28px
            left 38%
            top 42%
        .green-3
            width 28px
            height 28px
            left 38%
            top 63%
        .green-4
            width 24px
            height 24px
            left 46%
            top 54%
        .green-5
            width 18px
            height 18px
            left 16%
            top 68%
        .green-6
            width 28px
            height 28px
            left 78%
            top 68%
        .green-7
            width 18px
            height 18px
            left 44%
            top 79%
            
        .socks-1
            width 40px
            height 40px
            left 68%
            top 49%
        .socks-2
            width 40px
            height 40px
            left 30%
            top 79%
            
        .stick-1
            width 40px
            height 40px
            left 20%
            top 47%
        .stick-2
            width 40px
            height 40px
            left 68%
            top 64%
            
        .bear-1
            width 40px
            height 40px
            left 28%
            top 30%
        .bear-2
            width 40px
            height 40px
            left 64%
            top 40%