{% extends 'layout.html' %}

{% block title %}优购商城--分享领奖品{% endblock %}

{% block head %}
    {% parent %}
{% endblock %}

{% block content %}
    <div class="redbag-wrap">
        <img src="/public/images/redbag.png?__inline">
        <p>亲，点击右上角<img src="/public/images/btn.png?__inline" class="btn"></p>
        <p>将本活动分享至朋友圈！</p>
        <span>即可获得优购提供的购物卡券一张哦！</span>
    </div>
    <div class="progress-wrap">
        <img src="/public/images/progress.gif?__inline">
        <p>亲~您正在排队领取中，请耐心等待哦！</p>
    </div>
    <div class="runout-wrap">
        <img src="/public/images/cry.png?__inline">
        <p>亲~很遗憾地通知您：</p>
        <p>本次活动已结束，卡券都被领完啦！</p>
        <p class="barcode-tit">长按下方二维码即可关注优购时尚商城</p>
        <p>或直接关注官方微信号iyougou即可</p>
        <img class="barcode" src="/public/images/barcode.gif?__inline">
    </div>
    <div class="got-wrap">
        <img src="/public/images/redbaged.png?__inline">
        <img class="tit" src="/public/images/greeting.png?__inline">
        <p class="barcode-tit">长按下方二维码即可关注优购时尚商城</p>
        <p>或直接关注官方微信号iyougou即可</p>
        <p>回复<a href="#">"转发有礼"</a>领取购物卡券！</p>
        <img class="barcode" src="/public/images/barcode.gif?__inline">
    </div>
    <div id="share-link" url="http://mp.weixin.qq.com/s?__biz=MjM5NDA3MTk2MA==&mid=206885745&idx=1&sn=300790aa57c3612f8895180888ae28f7#rd"></div>
    <div id="join-link" url="{{wxgift.id}}/join"></div>
    <div id="progress-link" url="{{wxgift.id}}/progress"></div>
    <div id="jsApi"
         appId="{{jsApi.appId}}" timestamp="{{jsApi.timestamp}}"
         nonceStr="{{jsApi.nonceStr}}" signature="{{jsApi.signature}}"></div>
{% endblock %}

{% block module %}
    {% parent %}
    <script src="/public/modules/gift.js"></script>
    <script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="/public/modules/share.js"></script>
{% endblock %}