extends layout

block content
	img(src="http://localhost:3001/images/rp_01.jpg?mobile_build_version").wall
	div.profile
		img(src='#{dream.headimgurl}')
		p 昵称：#{dream.nickname.substring(0, 20)}
		span 已集资金额(元) #{dream.bonus/100}
	div.wall-c
		img(src="http://localhost:3001/images/rp_02.jpg?mobile_build_version").wall
		div.button
			a(href="http://localhost:3001/dream/#{dream.id}/vote") 支持TA
	div.wall-c
		img(src="http://localhost:3001/images/rp_02.jpg?mobile_build_version").wall
		div.button
			a(href="http://localhost:3001/dream/rank") 集资排行榜
