extends layout

block content
	img(src="http://localhost:3001/images/rp_01.jpg?mobile_build_version").wall
	div.wall-c
		img(src="http://localhost:3001/images/rp_02.jpg?mobile_build_version").wall
		div.button
			a(href="#") 活动规则
	div.wall-c
		img(src="http://localhost:3001/images/rp_02.jpg?mobile_build_version").wall
		div.button
			a(href="http://localhost:3001/dream/rank") 集资排行榜
