body
    font 14px "Lucida Grande", Helvetica, Arial, sans-serif
    background url("../images/bg_02.png") 0 0
    background-size 400px
    
@-webkit-keyframes twinkling
    0%
        opacity 1
    60%
        opacity 1
    100%
        opacity 0.7
@-webkit-keyframes right-fade
    0%
        opacity 0.8
    100%
        -webkit-transform translate3d(8px,0px,0)
        opacity 1
#xmas
    position relative
    margin auto
    min-width 320px
    max-width 640px
    .full
        width 100%
        margin 0px
        padding 0px
    .bd
        position relative
        min-height 300px
        .overlay
            position absolute
            left 0
            top -40px
            z-index 10
        .buttons
            position absolute
            left 0
            top -15px
            width 100%
            z-index 20
            p
                text-align center
                color #ffe900
                font-size 18px
                line-height 24px
            ul
                width 80%
                margin-left 10%
            li
                color #ffe900
                font-size 14px
                line-height 26px
                list-style decimal
            a
                color #ffe900
                text-decoration underline
            .button
                display block
                margin 10px
                line-height 40px
                height 40px
                text-decoration none
                background #ffe600
                color #f04032
                text-align center
                border-radius 10px
                font-size 20px
                font-weight bold
    .link
        display block
        z-index 300
    .profile-c
        position relative
        width 96%
        height 50px
        margin 10px 2%
        margin-bottom 0
        .mask
            position absolute
            background #000
            opacity 0.4
            z-index 1
            width 100%;
            height 50px
            border-radius 10px
        .profile
            position absolute
            z-index 100
            padding 10px
            img
                display inline-block
                height 30px
                width 30px
                border-radius 30px
                margin 0
            span
                position relative
                top -10px
                margin-left 10px
                display inline-block
                height 30px
                color #fff
                font-size 14px
    .actions
        a
            position absolute
            top 10%
            left 0
            display block
            float left
            line-height 50px
            border-radius 50px
            color #fff
            text-align center
            padding 10px
            opacity 0.8
            -webkit-animation right-fade 1s infinite ease
    .prompt-overlay
        position fixed
        width 100%
        height 100%
        top 0px
        left 0px
        background #000
        opacity 0.8
        z-index 100
        display none
        img
            width 100%
    .gifts-c
        position relative
        top -10px
        .tree
            display block
            margin auto
            max-width 320px
            max-height 480px
        .star-c
            position absolute
            left 0
            top 10px
            width 100%
        .star
            display block
            width 36px
            height 36px
            margin auto
        .twinking-0
            -webkit-animation twinkling 1s infinite ease-in-out
        .twinking-1
            -webkit-animation twinkling 1s infinite ease-in-out
        .twinking-2
            -webkit-animation twinkling 1.2s infinite ease-in-out
        .twinking-3
            -webkit-animation twinkling 1.4s infinite ease-in-out
        .twinking-4
            -webkit-animation twinkling 1.6s infinite ease-in-out
    .gifts
        position absolute
        width 100%
        left 0
        top 0
        min-height 480px
        .gift
            display block
            border 0
            border-width 0
            position absolute
        .yellow-1
            width 24px
            height 24px
            left 46%
            top 15%
        .yellow-2
            width 18px
            height 18px
            left 42%
            top 32%
        .yellow-3
            width 28px
            height 28px
            left 32%
            top 40%
        .yellow-4
            width 36px
            height 36px
            left 55%
            top 48%
        .yellow-5
            width 18px
            height 18px
            left 50%
            top 59%
        .yellow-6
            width 36px
            height 36px
            left 30%
            top 67%
        .yellow-7
            width 18px
            height 18px
            left 65%
            top 73%
        .yellow-8
            width 36px
            height 36px
            left 50%
            top 75%
        .yellow-9
            width 18px
            height 18px
            left 83%
            top 77%
            
        .blue-1
            width 20px
            height 20px
            left 40%
            top 18%
        .blue-2
            width 30px
            height 30px
            left 56%
            top 32%
        .blue-3
            width 36px
            height 36px
            left 44%
            top 46%
        .blue-4
            width 18px
            height 18px
            left 38%
            top 56%
        .blue-5
            width 18px
            height 18px
            left 57%
            top 56%
        .blue-6
            width 36px
            height 36px
            left 56%
            top 63%
        .blue-7
            width 38px
            height 38px
            left 12%
            top 74%
        .blue-8
            width 30px
            height 30px
            left 70%
            top 76%
            
        .red-1
            width 24px
            height 24px
            left 53%
            top 20%
        .red-2
            width 30px
            height 30px
            left 43%
            top 25%
        .red-3
            width 18px
            height 18px
            left 46%
            top 40%
        .red-4
            width 24px
            height 24px
            left 36%
            top 50%
        .red-5
            width 28px
            height 28px
            left 56%
            top 43%
        .red-6
            width 36px
            height 36px
            left 26%
            top 58%
        .red-7
            width 18px
            height 18px
            left 66%
            top 59%
        .red-8
            width 36px
            height 36px
            left 46%
            top 66%
        .red-9
            width 18px
            height 18px
            left 40%
            top 76%
        .red-10
            width 24px
            height 24px
            left 60%
            top 80%
            
        .green-1
            width 20px
            height 20px
            left 38%
            top 23%
        .green-2
            width 28px
            height 28px
            left 38%
            top 42%
        .green-3
            width 28px
            height 28px
            left 38%
            top 63%
        .green-4
            width 24px
            height 24px
            left 46%
            top 54%
        .green-5
            width 18px
            height 18px
            left 16%
            top 68%
        .green-6
            width 28px
            height 28px
            left 78%
            top 68%
        .green-7
            width 18px
            height 18px
            left 44%
            top 79%
    /*
    .wall-c
        position relative
        text-align center
        margin-bottom 20px
    .wall
        width 100%
        margin 0px
        padding 0px
    a
        display block
    .button
        position absolute
        display inline-block
        width 100%
        left 0px
        z-index 100
        text-align center
        color #000
        font-size 20px
        height 43px
        line-height 43px
    .button-sub
        color #fff
    #rank
        position absolute
        top 45%
        padding 0 5px
        margin-bottom 20px
        min-width 90%
        img
            display block
        .bd
            background #fff
            padding 0 10px
            padding-bottom 20px
            li
                clear both
                height 48px
                padding-bottom 10px
                margin-bottom 10px
                border-bottom 1px solid #b2b2b2
            img
                float left
                display block
                width 48px
                height 48px
            span
                float left
                display block
                height 48px
                line-height 48px
                margin 0 10px
                color #333
            .label
                height 20px
                border-bottom 2px solid #e60012
                span
                    height 24px
                    line-height 24px
                    color #e60012
                    font-weight bold
                span.money
                    float right
            .num
                width 16px
                text-align center
            .nickname
                width 40%
                font-size 12px
            .bonus
                width 15%
                text-align right
            .created-time
                width 50%
                font-size 12px
    .profile
        position relative
        top -30px
        text-align center
        *
            margin 5px
            color #fff
        img
            width 64px
            height 64px
            border-radius 64px
    .mask
        position fixed
        width 100%
        height 100%
        top 0px
        left 0px
        background #000
        opacity 0.8
        display none
        img
            width 100%*/