{% extends 'layout.html' %}

{% block title %}优购商城--认品牌，领奖品{% endblock %}

{% block head %}
    {% parent %}
{% endblock %}

{% block content %}
    <div id="finddiff-entry" class="finddiff-layer" data-set="{{finddiff.id}}/set">
        <div class="logo"></div>
        <div class="voice"></div>
        <div class="start layer {% if vote.bonus == 0 && owner %} layer-show {% endif %}">
            <div class="title-wrap content-wrap">
                <img src="/public/images/title.png?__inline" title="优购品牌大作战">
            </div>
            <div class="rule-wrap content-wrap">
                <img src="/public/images/rule.png?__inline" title="优购品牌大作战游戏规则">
            </div>
            <div class="button-wrap content-wrap">
                <a href="#">
                    <img src="/public/images/start.png?__inline" title="开始游戏" class="btn start-btn">
                </a>
                <a href="notice">
                    <img src="/public/images/notice.png?__inline" title="注意事项" class="btn notice-btn">
                </a>
            </div>
        </div>
        <div class="end layer {% if vote.bonus > 0 || !owner%} layer-show {% endif %}">
            <div class="result-wrap content-wrap">
                {% if owner %} <img src="/public/images/result.png?__inline" title="优购品牌结果"> {% endif %}
                {% if !owner %} <img src="/public/images/result_help.png?__inline" title="优购品牌结果"> {% endif %}
                
                <span class="bonus">{{vote.bonus}}</span>
            </div>
            <div class="content-wrap button-wrap end-button-wrap">
                {% if owner %}
                <p>
                    <a href="#">
                        <img src="/public/images/restart.png?__inline" title="重新开始" class="btn restart-btn">
                    </a>
                    <a href="{{finddiff.id}}/rank">
                        <img src="/public/images/total.png?__inline" title="金币总和" class="btn total-btn">
                    </a>
                    <a href="notice">
                        <img src="/public/images/notice.png?__inline" title="注意事项" class="btn notice-btn">
                    </a>
                </p>
                <p>
                    <a href="award">
                        <img src="/public/images/award.png?__inline" title="如何领奖" class="btn total-btn">
                    </a>
                    <a href="javascript:void(0)">
                        <img src="/public/images/share.png?__inline" title="点此分享" class="btn share-btn">
                    </a>
                </p>
                {% endif %}
                {% if !owner %}
                <p>
                    <a href="#">
                        <img src="/public/images/restart.png?__inline" title="重新开始" class="btn restart-btn">
                    </a>
                    <a href="start">
                        <img src="/public/images/join.png?__inline" title="我也要玩" class="btn total-btn">
                    </a>
                    <a href="notice">
                        <img src="/public/images/notice.png?__inline" title="注意事项" class="btn notice-btn">
                    </a>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="finddiff-game" class="finddiff-layer" data-id="{{ finddiff.id }}">
        <div class="logo"></div>
        <div class="voice"></div>
        <div class="logo-name-wrap">
            <img src="/public/images/logoname/马-克-华-菲.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/万斯.png?__inline" title="品牌名字">

            <img src="/public/images/logoname/匡威.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/卡特.png?__inline" title="品牌名字">

            <img src="/public/images/logoname/康莉.png?__inline" title="品牌名字">

            <img src="/public/images/logoname/彪马.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/爱乐.png?__inline" title="品牌名字">

            <img src="/public/images/logoname/特步.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/百丽.png?__inline" title="品牌名字">

            <img src="/public/images/logoname/耐克.png?__inline" title="品牌名字">

            <img src="/public/images/logoname/骆驼.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/三叶草.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/天美意.png?__inline" title="品牌名字">

            <img src="/public/images/logoname/奥卡索.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/富贵鸟.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/思加图.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/探路者.png?__inline" title="品牌名字">

            <img src="/public/images/logoname/接吻猫.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/新百伦.png?__inline" title="品牌名字">

            <img src="/public/images/logoname/百思图.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/茵奈儿.png?__inline" title="品牌名字">

            <img src="/public/images/logoname/鬼冢虎.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/乐斯菲斯.png?__inline" title="品牌名字">

            <img src="/public/images/logoname/阿迪达斯.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/真美诗.png?__inline" title="品牌名字">
        </div>
        <div class="logo-wrap">

            <img src="/public/images/logo/马-克-华-菲.png?__inline" title="品牌图案">
            <img src="/public/images/logo/万斯.png?__inline" title="品牌图案">

            <img src="/public/images/logo/匡威.png?__inline" title="品牌图案">
            <img src="/public/images/logo/卡特.png?__inline" title="品牌图案">

            <img src="/public/images/logo/康莉.png?__inline" title="品牌图案">

            <img src="/public/images/logo/彪马.png?__inline" title="品牌图案">
            <img src="/public/images/logo/爱乐.png?__inline" title="品牌图案">

            <img src="/public/images/logo/特步.png?__inline" title="品牌图案">
            <img src="/public/images/logo/百丽.png?__inline" title="品牌图案">

            <img src="/public/images/logo/耐克.png?__inline" title="品牌图案">

            <img src="/public/images/logo/骆驼.png?__inline" title="品牌图案">
            <img src="/public/images/logo/三叶草.png?__inline" title="品牌图案">
            <img src="/public/images/logo/天美意.png?__inline" title="品牌图案">

            <img src="/public/images/logo/奥卡索.png?__inline" title="品牌图案">
            <img src="/public/images/logo/富贵鸟.png?__inline" title="品牌图案">
            <img src="/public/images/logo/思加图.png?__inline" title="品牌图案">
            <img src="/public/images/logo/探路者.png?__inline" title="品牌图案">

            <img src="/public/images/logo/接吻猫.png?__inline" title="品牌图案">
            <img src="/public/images/logo/新百伦.png?__inline" title="品牌图案">

            <img src="/public/images/logo/百思图.png?__inline" title="品牌图案">
            <img src="/public/images/logo/茵奈儿.png?__inline" title="品牌图案">

            <img src="/public/images/logo/鬼冢虎.png?__inline" title="品牌图案">
            <img src="/public/images/logo/乐斯菲斯.png?__inline" title="品牌图案">

            <img src="/public/images/logo/阿迪.png?__inline" title="品牌图案">
            <img src="/public/images/logo/真美诗.png?__inline" title="品牌名字">
        </div>
        <div class="minus-seconds">扣3秒</div>
        <div class="remain-time">
            剩余时间：60秒 金币数：0个
        </div>
    </div>
    <div id="finddiff-mask" class="finddiff-mask">
        <div class="finddiff-layer">
            <div class="mask-wrap content-wrap">
                <img src="/public/images/mask.jpg?__inline" title="分享到朋友圈">
                <p>点击右上角… 速度邀请小伙伴来帮你提高排名哦！</p>
            </div>
        </div>
    </div>
    <div id="finddiff-last" class="finddiff-mask">
        <div class="finddiff-layer">
            <div class="mask-wrap content-wrap">
                亲，您本局赢得了<span class="result">0</span>个金币！
            </div>
        </div>
    </div>
    <div id="finddiff-set" class="finddiff-mask">
        请将手机调至横屏模式!<br><br>设置完成后，请<a href="#">点击这里开始游戏</a>
    </div>
    <div id="share-link" url="http://weixin.yougou.com/activity/finddiff/finddiff/{{finddiff.id}}/help"></div>
    <div id="jsApi" appId="{{jsApi.appId}}" timestamp="{{jsApi.timestamp}}" nonceStr="{{jsApi.nonceStr}}" signature="{{jsApi.signature}}"></div>
{% endblock %}

{% block module %}
    {% parent %}
    <script src="/public/modules/game.js"></script>
    <script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="/public/modules/share.js"></script>
{% endblock %}