{% extends 'layout.html' %}

{% block title %}优购商城--认品牌，领奖品{% endblock %}

{% block head %}
    {% parent %}
{% endblock %}

{% block content %}
    <div id="finddiff-entry" class="finddiff-layer">
        <div class="logo"></div>
        <div class="voice"></div>
        <div class="start layer {% if vote.bonus == 0 %} layer-show {% endif %}">
            <div class="title-wrap content-wrap">
                <img src="/public/images/title.png?__inline" title="优购品牌大作战">
            </div>
            <div class="rule-wrap content-wrap">
                <img src="/public/images/rule.png?__inline" title="优购品牌大作战游戏规则">
            </div>
            <div class="button-wrap content-wrap">
                <a href="#">
                    <img src="/public/images/start.png?__inline" title="开始游戏" class="btn start-btn">
                </a>
                <a href="notice">
                    <img src="/public/images/notice.png?__inline" title="注意事项" class="btn notice-btn">
                </a>
            </div>
        </div>
        <div class="end layer {% if vote.bonus > 0 %} layer-show {% endif %}">
            <div class="result-wrap content-wrap">
                <img src="/public/images/result.png?__inline" title="优购品牌结果">
                <span class="bonus">{{vote.bonus}}</span>
            </div>
            <div class="content-wrap button-wrap end-button-wrap">
                <p>
                    <a href="#">
                        <img src="/public/images/restart.png?__inline" title="重新开始" class="btn restart-btn">
                    </a>
                    <a href="{{finddiff.id}}/helpers">
                        <img src="/public/images/helper.png?__inline" title="助力结果" class="btn helper-btn">
                    </a>
                </p>
                <p>
                    <a href="{{finddiff.id}}/rank">
                        <img src="/public/images/total.png?__inline" title="金币总和" class="btn total-btn">
                    </a>
                    <a href="javascript:void(0)">
                        <img src="/public/images/share.png?__inline" title="点此分享" class="btn share-btn">
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div id="finddiff-game" class="finddiff-layer" data-id="{{ finddiff.id }}">
        <div class="logo"></div>
        <div class="voice"></div>
        <div class="logo-name-wrap">
            <img src="/public/images/logoname/15分钟.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/DC.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/GLM.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/GXG.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/fed.png?__inline" title="品牌名字">

            <img src="/public/images/logoname/lee.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/马-克-华-菲.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/万斯.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/三彩.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/亦谷.png?__inline" title="品牌名字">

            <img src="/public/images/logoname/他她.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/依尼.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/匡威.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/卡文.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/卡特.png?__inline" title="品牌名字">

            <img src="/public/images/logoname/哈森.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/妙丽.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/威斯.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/帕菲.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/康莉.png?__inline" title="品牌名字">

            <img src="/public/images/logoname/彪马.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/拔佳.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/森达.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/泛高.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/爱乐.png?__inline" title="品牌名字">

            <img src="/public/images/logoname/特步.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/狼爪.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/玖熙.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/百丽.png?__inline" title="品牌名字">

            <img src="/public/images/logoname/盈威.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/米菲.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/考莫.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/耐克.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/芭迪.png?__inline" title="品牌名字">

            <img src="/public/images/logoname/蔻琪.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/迈乐.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/适凯.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/零度.png?__inline" title="品牌名字">

            <img src="/public/images/logoname/骆驼.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/三叶草.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/丑女孩.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/卓诗尼.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/卡美多.png?__inline" title="品牌名字">

            <img src="/public/images/logoname/卡迪娜.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/卡骆驰.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/史努比.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/哥仑步.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/天美意.png?__inline" title="品牌名字">

            <img src="/public/images/logoname/奥卡索.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/安玛莉.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/富贵鸟.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/思加图.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/探路者.png?__inline" title="品牌名字">

            <img src="/public/images/logoname/接吻猫.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/斯凯奇.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/新百伦.png?__inline" title="品牌名字">

            <img src="/public/images/logoname/杰米熊.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/爵根仕.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/甲壳虫.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/百思图.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/真美诗.png?__inline" title="品牌名字">

            <img src="/public/images/logoname/红蜻蜓.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/茵奈儿.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/莎莎苏.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/萨洛蒙.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/诺诗兰.png?__inline" title="品牌名字">

            <img src="/public/images/logoname/迪迈奇.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/鬼冢虎.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/乐斯菲斯.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/哥伦比亚.png?__inline" title="品牌名字">

            <img src="/public/images/logoname/绯闻女孩.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/莱尔斯丹.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/蜜丝罗妮.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/阿迪休闲.png?__inline" title="品牌名字">
            <img src="/public/images/logoname/阿迪达斯.png?__inline" title="品牌名字">
        </div>
        <div class="logo-wrap">
            <img src="/public/images/logo/15分钟.png?__inline" title="品牌图案">
            <img src="/public/images/logo/DC.png?__inline" title="品牌图案">
            <img src="/public/images/logo/GLM.png?__inline" title="品牌图案">
            <img src="/public/images/logo/GXG.png?__inline" title="品牌图案">
            <img src="/public/images/logo/FED.png?__inline" title="品牌图案">

            <img src="/public/images/logo/李.png?__inline" title="品牌图案">
            <img src="/public/images/logo/马-克-华-菲.png?__inline" title="品牌图案">
            <img src="/public/images/logo/万斯.png?__inline" title="品牌图案">
            <img src="/public/images/logo/三彩.png?__inline" title="品牌图案">
            <img src="/public/images/logo/亦谷.png?__inline" title="品牌图案">

            <img src="/public/images/logo/他她.png?__inline" title="品牌图案">
            <img src="/public/images/logo/依尼.png?__inline" title="品牌图案">
            <img src="/public/images/logo/匡威.png?__inline" title="品牌图案">
            <img src="/public/images/logo/卡文.png?__inline" title="品牌图案">
            <img src="/public/images/logo/卡特.png?__inline" title="品牌图案">

            <img src="/public/images/logo/哈森.png?__inline" title="品牌图案">
            <img src="/public/images/logo/妙丽.png?__inline" title="品牌图案">
            <img src="/public/images/logo/威斯.png?__inline" title="品牌图案">
            <img src="/public/images/logo/帕菲.png?__inline" title="品牌图案">
            <img src="/public/images/logo/康莉.png?__inline" title="品牌图案">

            <img src="/public/images/logo/彪马.png?__inline" title="品牌图案">
            <img src="/public/images/logo/拔佳.png?__inline" title="品牌图案">
            <img src="/public/images/logo/森达.png?__inline" title="品牌图案">
            <img src="/public/images/logo/泛高.png?__inline" title="品牌图案">
            <img src="/public/images/logo/爱乐.png?__inline" title="品牌图案">

            <img src="/public/images/logo/特步.png?__inline" title="品牌图案">
            <img src="/public/images/logo/狼爪.png?__inline" title="品牌图案">
            <img src="/public/images/logo/玖熙.png?__inline" title="品牌图案">
            <img src="/public/images/logo/百丽.png?__inline" title="品牌图案">

            <img src="/public/images/logo/盈威.png?__inline" title="品牌图案">
            <img src="/public/images/logo/米菲.png?__inline" title="品牌图案">
            <img src="/public/images/logo/考莫.png?__inline" title="品牌图案">
            <img src="/public/images/logo/耐克.png?__inline" title="品牌图案">
            <img src="/public/images/logo/芭迪.png?__inline" title="品牌图案">

            <img src="/public/images/logo/蔻琪.png?__inline" title="品牌图案">
            <img src="/public/images/logo/迈乐.png?__inline" title="品牌图案">
            <img src="/public/images/logo/适凯.png?__inline" title="品牌图案">
            <img src="/public/images/logo/零度.png?__inline" title="品牌图案">

            <img src="/public/images/logo/骆驼.png?__inline" title="品牌图案">
            <img src="/public/images/logo/三叶草.png?__inline" title="品牌图案">
            <img src="/public/images/logo/丑女孩.png?__inline" title="品牌图案">
            <img src="/public/images/logo/卓诗尼.png?__inline" title="品牌图案">
            <img src="/public/images/logo/卡美多.png?__inline" title="品牌图案">

            <img src="/public/images/logo/卡迪娜.png?__inline" title="品牌图案">
            <img src="/public/images/logo/卡骆驰.png?__inline" title="品牌图案">
            <img src="/public/images/logo/史努比.png?__inline" title="品牌图案">
            <img src="/public/images/logo/哥仑步.png?__inline" title="品牌图案">
            <img src="/public/images/logo/天美意.png?__inline" title="品牌图案">

            <img src="/public/images/logo/奥卡索.png?__inline" title="品牌图案">
            <img src="/public/images/logo/安玛莉.png?__inline" title="品牌图案">
            <img src="/public/images/logo/富贵鸟.png?__inline" title="品牌图案">
            <img src="/public/images/logo/思加图.png?__inline" title="品牌图案">
            <img src="/public/images/logo/探路者.png?__inline" title="品牌图案">

            <img src="/public/images/logo/接吻猫.png?__inline" title="品牌图案">
            <img src="/public/images/logo/斯凯奇.png?__inline" title="品牌图案">
            <img src="/public/images/logo/新百伦.png?__inline" title="品牌图案">

            <img src="/public/images/logo/杰米熊.png?__inline" title="品牌图案">
            <img src="/public/images/logo/爵根仕.png?__inline" title="品牌图案">
            <img src="/public/images/logo/甲壳虫.png?__inline" title="品牌图案">
            <img src="/public/images/logo/百思图.png?__inline" title="品牌图案">
            <img src="/public/images/logo/真美诗.png?__inline" title="品牌图案">

            <img src="/public/images/logo/红蜻蜓.png?__inline" title="品牌图案">
            <img src="/public/images/logo/茵奈儿.png?__inline" title="品牌图案">
            <img src="/public/images/logo/莎莎苏.png?__inline" title="品牌图案">
            <img src="/public/images/logo/萨洛蒙.png?__inline" title="品牌图案">
            <img src="/public/images/logo/诺诗兰.png?__inline" title="品牌图案">

            <img src="/public/images/logo/迪迈奇.png?__inline" title="品牌图案">
            <img src="/public/images/logo/鬼冢虎.png?__inline" title="品牌图案">
            <img src="/public/images/logo/乐斯菲斯.png?__inline" title="品牌图案">
            <img src="/public/images/logo/哥伦比亚.png?__inline" title="品牌图案">

            <img src="/public/images/logo/绯闻女孩.png?__inline" title="品牌图案">
            <img src="/public/images/logo/莱尔斯丹.png?__inline" title="品牌图案">
            <img src="/public/images/logo/蜜丝罗妮.png?__inline" title="品牌图案">
            <img src="/public/images/logo/阿迪休闲.png?__inline" title="品牌图案">
            <img src="/public/images/logo/阿迪.png?__inline" title="品牌图案">
        </div>
        <div class="remain-time">
            剩余时间：60秒 金币数：0个
        </div>
    </div>
    <div id="finddiff-mask">
        <div class="finddiff-layer">
            <div class="mask-wrap content-wrap">
                <img src="/public/images/mask.jpg?__inline" title="分享到朋友圈">
                <p>速度邀请朋友来帮助您提高排名！</p>
            </div>
        </div>
    </div>
    <div id="share-link" url="http://weixin.yougou.com/activity/finddiff/finddiff/{{finddiff.id}}/help"></div>
    <div id="jsApi" appId="{{jsApi.appId}}" timestamp="{{jsApi.timestamp}}" nonceStr="{{jsApi.nonceStr}}" signature="{{jsApi.signature}}"></div>
{% endblock %}

{% block module %}
    {% parent %}
    <script src="/public/modules/game.js"></script>
    <script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="/public/modules/share.js"></script>
{% endblock %}