{% extends 'layout.html' %}

{% block title %}优购商城--认品牌，领奖品{% endblock %}

{% block head %}
    {% parent %}
{% endblock %}

{% block content %}
    <div id="finddiff-helper" class="finddiff-layer layer-show">
        <div class="helpers">
            {% for helper in helpers %}
            {% if helper.subOpenId != ownerId && helper.bonus > 0 %}
            <div class="helper">
                <span>您的好友</span>
                <img src="{{ helper.headimgurl }}">
                <span>贡献了{{ helper.bonus }}金币</span>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block module %}
    {% parent %}
{% endblock %}