{% extends 'layout.html' %}

{% block title %}优购商城--认品牌，领奖品{% endblock %}

{% block head %}
    {% parent %}
{% endblock %}

{% block content %}
    <div id="finddiff-helper" class="finddiff-layer">
        <div class="helpers">
            {% for helper in helpers %}
            <div class="helper">
                {% if helper.subOpenId != ownerId %}
                <img src="{{ helper.headimgurl }}" alt="{{ helper.nickname }}">
                <span>{{ helper.nickname.substring(0, 8) }}贡献了{{ helper.bonus }}金币</span>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block module %}
    {% parent %}
    <script src="/public/modules/game.js"></script>
{% endblock %}