{% extends 'layout.html' %}

{% block title %}优购商城--认品牌，领奖品{% endblock %}

{% block head %}
    {% parent %}
{% endblock %}

{% block content %}
    <div id="finddiff-notice" class="finddiff-layer layer-show">
        <div class="notice-wrap hightlight-notice-wrap content-wrap">
            <div class="label-wrap">
                <img src="/public/images/notice-label2.png?__inline" class="label" title="如何发奖">
            </div>
            <ol>
                <li>您与好友共同赢得100块金币，即可获得由优购时尚商城提供的<strong style="color:#ffff00">30元礼品卡</strong>一张；</li>
            </ol>
        </div>
        <div class="notice-wrap content-wrap">
            <div class="label-wrap">
                <img src="/public/images/notice-label1.png?__inline" class="label" title="注意事项">
            </div>
            <ol>
                <li>尽情邀请好友参与游戏，人数上不封顶；</li>
                <li>作为发起者，每人每天可多次重玩游戏；</li>
                <li>作为受邀者，一经受邀即可参与游戏，不限游戏次数；</li>
                <li>受邀者赢取的金币将全部累计到发起人名下；</li>
                <li>参与者的最高分记录将被自动保存；</li>
                <li>任何人均可发起游戏。关注优购公众账号（iyougou），在对话框中输入“品牌大作战”即可；</li>
                <li>本活动截止至2015年6月10日23:59（最终结束时间以1000张礼品卡发放完毕时间为准）</li>
                <li>金币总数量累计至100块时，在公众号内再次输入“品牌大作战”可立即领取礼品卡；</li>
                <li>本活动的最终解释权归优购时尚商城所有。</li>
            </ol>
        </div>
    </div>
{% endblock %}