{% extends 'layout.html' %}

{% block title %}优购商城--认品牌，领奖品{% endblock %}

{% block head %}
    {% parent %}
{% endblock %}

{% block content %}
    <div id="finddiff-logo">
        <img src="/public/images/logo.png?__inline" title="Logo">
    </div>
    <div id="finddiff-helper" class="finddiff-layer layer-show">
        <div class="rank-wrap content-wrap">
            <span class="bonus">{{ finddiff.bonus }}</span>
            <span class="rank">{{ finddiff.rank }}</span>
            <img src="/public/images/rank.png?__inline" title="排名结果">
        </div>
        <div class="helpers">
            {% for helper in helpers %}
            {% if helper.subOpenId == ownerId && helper.bonus > 0 %}
            <div class="helper">
                <span>我最多赢了{{ helper.bonus }}个金币</span>
            </div>
            {% endif %}
            {% endfor %}

            {% for helper in helpers %}
            {% if helper.subOpenId != ownerId && helper.bonus > 0 %}
            <div class="helper">
                <span>您的好友</span>
                <img src="{{ helper.headimgurl }}">
                <span>贡献了{{ helper.bonus }}个金币</span>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block module %}
    {% parent %}
{% endblock %}