{% extends 'layout.html' %}

{% block title %}优购商城--认品牌，领奖品{% endblock %}

{% block head %}
    {% parent %}
{% endblock %}

{% block content %}
    <div id="finddiff-logo">
        <img src="/public/images/logo.png?__inline" title="Logo">
    </div>
    <div id="finddiff-helper" class="finddiff-layer layer-show">
        <div class="rank-wrap content-wrap">
            <span class="bonus">{{ finddiff.bonus }}</span>
            <span class="rank">{{ finddiff.rank }}</span>
            <img src="/public/images/rank.png?__inline" title="排名结果">
        </div>
        <div class="rank-wrap content-wrap" style="padding:0;margin:10px">
            <a href="#"><img src="/public/images/long-share-btn.png?__inline" title="分享到朋友圈" class="share-btn"></a>
        </div>
        
        <div class="helpers">
            {% for helper in helpers %}
            {% if helper.subOpenId == ownerId && helper.bonus > 0 %}
            <div class="helper">
                <span>我的最好成绩是{{ helper.bonus }}个金币</span>
            </div>
            {% endif %}
            {% endfor %}

            {% for helper in helpers %}
            {% if helper.subOpenId != ownerId && helper.bonus > 0 %}
            <div class="helper">
                <span>您的好友</span>
                <img src="{{ helper.headimgurl }}">
                <span>贡献了{{ helper.bonus }}个金币</span>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div id="finddiff-mask" class="finddiff-mask">
        <div class="mask-wrap content-wrap">
            <img src="/public/images/mask.png?__inline" title="分享到朋友圈">
        </div>
    </div>

    <div id="share-link" url="http://weixin.yougou.com/activity/finddiff/finddiff/{{finddiff.id}}/help"></div>
    <div id="jsApi"
         appId="{{jsApi.appId}}" timestamp="{{jsApi.timestamp}}"
         nonceStr="{{jsApi.nonceStr}}" signature="{{jsApi.signature}}"></div>
{% endblock %}

{% block module %}
    {% parent %}
    <script src="/public/modules/game.js"></script>
    <script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="/public/modules/share.js"></script>
{% endblock %}