{% extends 'layout.html' %}

{% block title %}优购商城--认品牌，领奖品{% endblock %}

{% block head %}
    {% parent %}
{% endblock %}

{% block content %}
    <div id="finddiff-entry" class="finddiff-layer">
        <div class="logo"></div>
        <div class="voice"></div>
        <div class="rank layer-show">
            <div class="rank-wrap content-wrap">
                <span class="bonus">{{ finddiff.bonus }}</span>
                <span class="rank">{{ finddiff.rank }}</span>
                <img src="/public/images/rank.png?__inline" title="排名结果">
                <div><a href="helpers">看看谁帮我攒了金币</a></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block module %}
    {% parent %}
    <script src="/public/modules/game.js"></script>
{% endblock %}